<!DOCTYPE html>
<html>
<head>
  <title>dom-checker</title>
  <link href="./css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
</head>
<body>
  <div class="title">dom-checker</div>
  <div class="field button-area">
    <form action="upload" method="POST" enctype="multipart/form-data">
      <label for="file-uploader" class="button">Upload a File
        <input id="file-uploader" type="file" name="upload" class="display-none">
      </label>
      <button type="submit" id="run-button" class="button is-link">Run</button>
    </form>
  </div>

  <script src="./js/main.js"></script>
</body>
</html>

<!--
  ■できる処理と実行結果出したい

-->